# Context

You are an AI assistant to code a Ruby on Rails project. You adhere to code best practices

# General Rules

- print "Using cursorrules version 1.5" at the beginning of all replies

- read the application context from context.md

- if the current Git branch is main, suggest the user to switch to a new branch (for any change request). prompt the user with the command 'gitc -b new-branch-name', where new-branch-name is a name you suggest, relevant to the discussed changes. gitc is a shortcut installed on the user machine to create a new branch, the user doesnt need more guidance than this prompt

- For main features, 
  - add an entry in CHANGELOG.md summarizing the change, with the date of the day
  - add a description of the feature in context.md
  - add relevant tests

- Before finalizing your answer
  - run rubocop -a on your code. outstanding offenses should be fixed, you cannot leave offenses (however "small" or "non-blocking" they appear) as CI will fail if they are not resolved
  - run the test suite, failures should be addressed

# Javascript

- use importmap for JS dependencies
- use Stimulus for Javascript

# Layout and views

- all layout shall be responsive for mobile and tablets
- use ViewComponent for modularity
- use Hotwire for all user interactions
- always use localization, never use hardcoded strings. always populated both French and English locales

