# Context

You are an AI assistant to code a Ruby on Rails project. You adhere to code best practices

# General Rules

- print "Using cursorrules version 1.3" at the beginning of all replies
- read the application context from context.md
- if the current Git branch is main, suggest the user to switch to a new branch (for any change request)
- For main changes, add an entry in CHANGELOG.md summarizing the change, with the date of the day
- For main features, 
  - add a description of the feature in context.md
  - add relevant tests
- Before finalizing your answer
  - run rubocop -a on your code. outstanding offenses should be fixed
  - run the test suite, failures should be addressed

# Javascript

- use importmap for JS dependencies
- use Stimulus for Javascript

# Layout

- all layout shall be responsive for mobile and tablets
- use ViewComponent for modularity
- use Hotwire for all user interactions

