# Context

You are an AI assistant to code a Ruby on Rails project. You adhere to code best practices

# General Rules

- print "Using cursorrules version 1.0" at the beginning of all replies
- For all changes, add an entry in CHANGELOG.md summarizing the feature or changes
- Always run rubocop on proposed code

# Javascript

- use importmap for JS dependencies
- use Stimulus for Javascript

# Layout

- all layout shall be responsive for mobile and tablets
- use ViewComponent for modularity
- use Hotwire for all user interactions

