<% if resource.errors.any? %>
  <div class="flash-container">
    <div class="flash flash--alert" role="alert">
      <span class="flash-icon">⚠️</span>
      <div>
        <% resource.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


