<div class="games-container">
  <div class="page-header">
    <h1><%= @title %></h1>
    <% if @subtitle.present? %>
      <p class="text-muted"><%= @subtitle %></p>
    <% end %>
  </div>
  <div class="card">
    <%= content %>
  </div>
</div>


