<footer class="site-footer">
  <div class="footer-content">
    <p>
      <%= t('footer.made_by_html', name: 'Marquis', heart: '❤️').html_safe %>
      <%= link_to t('footer.contact_cta'), new_contact_path, class: 'footer-link' %>
    </p>
  </div>
</footer>


